.heading-section
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,120,1) 48%, rgba(167,77,77,1) 100%, rgba(255,205,0,1) 100%);
    padding: 100px;
    padding-bottom: 170px;

    h1.title
    {
        color: white;
        text-shadow: 0px 4px 11px rgba(0,0,0,0.6);
    }
}

.container
{
    max-width: 800px;
}

.add-todo-list
{
    background: white;
    padding: 25px;
    border-radius: 4px;
    margin-top: -68px;
    margin-bottom: 50px;
    box-shadow: 0 4px 12px rgb(black, 0.08);
}

.plus-btn
{
    margin-right: 5px;
}

dialogRef
{
    margin: 20px;
}




