<section class="heading-section">
    <h1 class="title is-1 has-text-centered">Todo List</h1>
</section>

<div class="container">
    <div class="add-todo-list">
        <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
            <h2 class="title is-5"> New Todo List</h2>
            <div class="field is-grouped my-0">
                <p class="control is-expanded">
                    <input ngModel #todoTextField="ngModel" required minlength="3" name="text" class="input" type="text"
                        placeholder="Add Your Todo Lists Here">
                </p>
                <p class="control">
                    <button class="button alt-gradient-button ">
                        <fa-icon class="plus-btn" [icon]="faPlus"></fa-icon>
                        Add
                    </button>
                </p>
            </div>
            <div *ngIf="todoTextField.invalid && showValidationError">
                <p class="help is-danger" *ngIf="todoTextField.errors?.['required']">please enter your Todo list</p>
                <p class="help is-danger" *ngIf="todoTextField.errors?.['minlength']">please enter your minimum of 3 letters to continue</p>
            </div>
        </form>
    </div>
</div>

<section class="listbody">
    <div class="container">
        <app-todo-item 
        *ngFor="let todo of todos" [todo]="todo" 
        (todoClicked)="toggleCompleted(todo)"
        (editClicked)="editTodo(todo)"
        ></app-todo-item>
    </div>
</section>