<div class="pad-container">
    <h1 class="title mat-dialog-title">Edit Todo</h1>
<div class="mat-dialog-content">
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <div class="field">
            <div class="control">
                <input type="text" 
                       class="input" 
                       name="text" 
                       [ngModel]="todo.text" 
                       #todoTextField = "ngModel"
                       required minlength="3"
                     placeholder="Edit Todo here..">
            </div>
            <div *ngIf="todoTextField.invalid">
                <p class="help is-danger" *ngIf="todoTextField.errors?.['required']">please enter your Todo list</p>
                <p class="help is-danger" *ngIf="todoTextField.errors?.['minlength']">please enter your minimum of 3 letters to continue</p>
            </div>

        </div>

        <br>

        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button type="button" class="button is-light" (click)="onClose()">cancel</button>
            </div>
            <div class="control">
                <button type="submit" class="button alt-gradient-button" ><fa-icon class="save-btn" [icon]="faFloppyDisk"></fa-icon>save</button>
            </div>
        </div>

    </form>
</div>
</div>
