/* You can add global styles to this file, and also import other style files */


@import '../node_modules/bulma/bulma.sass';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'tippy.js/dist/tippy.css';

html, body { height: 100%; }
body { margin: 0;  }

.alt-gradient-button
{
    border: none;
    color: white;
    opacity: 0.92;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 5px;
    z-index: 1;


    &:hover
    {
        opacity: 1;
        color: white;
        animation: animate 8s linear infinite;
    
        
    }

    @keyframes animate {
        0% {
          background-position: 0%;
        }
        100% {
          background-position: 400%;
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
        z-index: -1;
        background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: 400%;
        border-radius: 40px;
        opacity: 0;
        transition: .5s;
      }
       
      &:hover:before {
        filter: blur(20px);
        opacity: 1;
        animation: animate 8s linear infinite;
      }
}

